<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lixiangyu.dal.mapper.JobConfigMapper">
    
    <resultMap id="BaseResultMap" type="com.lixiangyu.dal.entity.job.JobConfig">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="job_name" property="jobName" jdbcType="VARCHAR"/>
        <result column="job_group" property="jobGroup" jdbcType="VARCHAR"/>
        <result column="job_type" property="jobType" jdbcType="VARCHAR" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result column="job_class" property="jobClass" jdbcType="VARCHAR"/>
        <result column="cron_expression" property="cronExpression" jdbcType="VARCHAR"/>
        <result column="job_params" property="jobParams" jdbcType="VARCHAR" typeHandler="com.lixiangyu.common.scheduler.typehandler.JsonTypeHandler"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result column="environment" property="environment" jdbcType="VARCHAR"/>
        <result column="retry_count" property="retryCount" jdbcType="INTEGER"/>
        <result column="retry_interval" property="retryInterval" jdbcType="INTEGER"/>
        <result column="timeout" property="timeout" jdbcType="INTEGER"/>
        <result column="alert_enabled" property="alertEnabled" jdbcType="TINYINT"/>
        <result column="alert_types" property="alertTypes" jdbcType="VARCHAR" typeHandler="com.lixiangyu.common.scheduler.typehandler.AlertTypeListTypeHandler"/>
        <result column="alert_receivers" property="alertReceivers" jdbcType="VARCHAR" typeHandler="com.lixiangyu.common.scheduler.typehandler.AlertReceiversTypeHandler"/>
        <result column="gray_release_enabled" property="grayReleaseEnabled" jdbcType="TINYINT"/>
        <result column="gray_release_percent" property="grayReleasePercent" jdbcType="INTEGER"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    
    <select id="selectByJobNameAndGroup" resultMap="BaseResultMap">
        SELECT * FROM scheduler_job_config
        WHERE job_name = #{jobName}
          AND job_group = #{jobGroup}
          AND environment = #{environment}
    </select>
    
    <select id="selectByStatus" resultMap="BaseResultMap">
        SELECT * FROM scheduler_job_config
        WHERE status = #{status}
        <if test="environment != null and environment != ''">
            AND environment = #{environment}
        </if>
        ORDER BY create_time DESC
    </select>
    
    <select id="selectAllWithEnvironment" resultMap="BaseResultMap">
        SELECT * FROM scheduler_job_config
        <if test="environment != null and environment != ''">
            WHERE environment = #{environment}
        </if>
        ORDER BY create_time DESC
    </select>
    
    <!-- 根据主键ID查询（不使用乐观锁） -->
    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM scheduler_job_config
        WHERE id = #{id}
    </select>
    
    <!-- 根据主键ID更新（不使用乐观锁，只更新非空字段） -->
    <update id="updateByIdSelective">
        UPDATE scheduler_job_config
        <set>
            <if test="jobName != null">job_name = #{jobName},</if>
            <if test="jobGroup != null">job_group = #{jobGroup},</if>
            <if test="jobType != null">job_type = #{jobType},</if>
            <if test="jobClass != null">job_class = #{jobClass},</if>
            <if test="cronExpression != null">cron_expression = #{cronExpression},</if>
            <if test="jobParams != null">job_params = #{jobParams, typeHandler=com.lixiangyu.common.scheduler.typehandler.JsonTypeHandler},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
            <if test="environment != null">environment = #{environment},</if>
            <if test="retryCount != null">retry_count = #{retryCount},</if>
            <if test="retryInterval != null">retry_interval = #{retryInterval},</if>
            <if test="timeout != null">timeout = #{timeout},</if>
            <if test="alertEnabled != null">alert_enabled = #{alertEnabled},</if>
            <if test="alertTypes != null">alert_types = #{alertTypes, typeHandler=com.lixiangyu.common.scheduler.typehandler.AlertTypeListTypeHandler},</if>
            <if test="alertReceivers != null">alert_receivers = #{alertReceivers, typeHandler=com.lixiangyu.common.scheduler.typehandler.AlertReceiversTypeHandler},</if>
            <if test="grayReleaseEnabled != null">gray_release_enabled = #{grayReleaseEnabled},</if>
            <if test="grayReleasePercent != null">gray_release_percent = #{grayReleasePercent},</if>
            <if test="version != null">version = #{version},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="modifier != null">modifier = #{modifier},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        WHERE id = #{id}
    </update>
    
</mapper>

